<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-google-play-games-v2" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Google Play Games V2 Plugin</name>
    <js-module name="google-play-games-v2" src="www/google-play-games-v2.js">
        <clobbers target="cordova.plugins.googleplaygamesv2plugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GooglePlayGamesV2">
                <param name="android-package" value="com.nascorpent.googleplaygamesv2plugin" />
            </feature>
        </config-file>
        <source-file src="src/android/GooglePlayGamesV2.java" target-dir="src/com/nascorpent/googleplaygamesv2plugin" />
    </platform>
</plugin>